<main class="default-transition" style="opacity: 1;">
  <%= render 'shared/header' %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="mb-4">
          <h1><%= @user.profile.user_name %></h1>
          <h5><%= @user.profile.company_name %></h5>
          <p><%= @user.profile.company_bio %></p>

          <%= link_to 'Message', '#', class: 'btn btn-outline-primary btn-sm' %>
          <div id="follow" class="float-right mr-50">
            <%= render 'shared/follow_form', user: @user %>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane show active" id="first" role="tabpanel" aria-labelledby="first-tab">
            <div class="row">
              <div class="col-12 mb-5">


              </div>
              <%= render 'shared/left_sidebar' %>
              <div class="col-lg-8">
                <% @user.posts.each do |post| %>
                  <%= render 'shared/post_card', post: post %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>